<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {% include icons/icon.html icon-name='person' %}{{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
          <li>{% include icons/icon.html icon-name='mail' %}<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include
              icons/user.html
              icon-name='github'
              href='https://github.com'
              username=site.github_username
            %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include
              icons/user.html
              icon-name='twitter'
              href='https://twitter.com'
              username=site.twitter_username
            %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
        <p class="rss-subscribe">
          {% include icons/icon.html icon-name='rss' %}
          via
          <a href="{{ "/atom.xml" | prepend: site.baseurl }}" title="Atom">Atom</a>
          or
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS">RSS</a>
        </p>
      </div>
    </div>

  </div>

</footer>
