<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <section class="footer-section">

      <nav class="footer-nav">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {% include icons/icon.html icon-name='person' %}{{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
          <li>
            {% include icons/icon.html icon-name='mail' %}
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>

        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include
              icons/user.html
              icon-name='github'
              href='https://github.com'
              username=site.github_username
            %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include
              icons/user.html
              icon-name='twitter'
              href='https://twitter.com'
              username=site.twitter_username
            %}
          </li>
          {% endif %}
        </ul>
      </nav>

      <section class="footer-description">
        <p>{{ site.description | escape }}</p>
        <p class="rss-subscribe">
          {% include icons/icon.html icon-name='rss' %}
          via
          <a href="{{ "/atom.xml" | prepend: site.baseurl }}" title="Atom">Atom</a>
          or
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS">RSS</a>
        </p>
      </section>

    </section>

   </div>

</footer>
