/**
 * Pagination
 */

.pagination-pages,
.pagination-posts {

  padding-top: $spacing-unit;
  border-top: 1px solid $grey-color-light;

  // compatibility with all browsers (desktop/mobile) less
  // - IE < 10
  // - Opera (desktop/mobile) < 12.1
  // more datails: http://caniuse.com/#feat=flexbox

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

.pagination-pages { margin-top: $spacing-unit / 2 ; }

.previous-posts,
.next-posts {

  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 48%;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%;

}

.next-posts { text-align: right; }

/**
 * Search
 */

.search {

  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
  border-bottom: 1px solid $grey-color-light;
  color: $grey-color;

  input {

    border: 1px solid $grey-color-light;
    padding: 0.1rem 0.3rem;
    font-size: $base-font-size;
    color: $grey-color;

  }

  ul {

    list-style: none;
    margin: 0;
    padding: 0;

    li:first-child { padding-top: $spacing-unit; }

    a { margin-left: $spacing-unit / 8; }

  }

}
