/**
 * Icons
 */
.icon > svg {
    display: inline-block;
    vertical-align: text-bottom;

    path {
        fill: $grey-color;
    }
}

.text-top > svg { vertical-align: text-top; }

.c-color > svg {

  path { fill: currentColor; }

}
