---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">
          {% include icons/icon.html icon-name='calendar' %}
          {{ post.date | date: "%b %-d, %Y" }}
        </span>

        <h2>
          <a
            class="post-link"
            href="{{ post.url | relative_url }}"
            title="{{ post.tile }}">
            {{ post.title | escape }}
          </a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}" title="Atom Feed">via RSS</a></p>

</div>
