/**
 * Basic typography style for copy text
 */

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Figcaption
 */
figcaption {
    font-size: $small-font-size;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
}
